body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}
.popup {
  margin: 1em 0.5em 1em 0.5em;
  width: 10em;
}
.options {
  width: 40em;
  padding: 0 1em 2em 1em;
}
input {
  border-radius: 3px;
  width: 97%;
}
:invalid {
  border-color: red;
}
input[type="number"] {
  width: 94%;
}
.popup input[type="checkbox"] {
  float: left;
  width: auto;
  margin-right: .7em;
}
input[type="checkbox"] + label, input[type="color"] + label {
  display: inline-block;
}
input[type="color"] {
  width: 5em;
}
.right {
  float: right;
}
.left {
  float: left;
}
#selectSeries {
  font-size: 1em;
  text-decoration: none;
  background: none;
  border-style: none;
}
select {
  width: 100%;
  border-radius: 3px;
  margin: 0.5em 0 0.5em 0;
  font-size: 90%;
}
.edit {
  text-align:center;
}
.edit a, .edit span {
  font-size: 2em;
  text-decoration: none;
  color: black;
}
.edit a:hover, .edit span:hover {
  background: #F8F8F8;
  border-radius: 10px;
}
.btn {
  background: #A0A0A0;
  border: #606060 solid 1px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  transition: all 200ms;
  color: #F1F1F1;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px inset;
}
.btn:hover {
  background: #F1F1F1;
  color: buttontext;
  border: grey solid 1px;
}
.btn-disabled {
  background: #FAFAFA;
  border: #F0F0F0 solid 1px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  transition: all 200ms;
  color: #F0F0F0;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
  right: -15px;
}
.hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
}
.hidden:target {
  visibility: hidden;
  opacity: 0;
}
.dialog {
  padding: 1em;
  background: #fff;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}
ul#mirrors {
  border: 1px solid grey;
  list-style-type:none;
  padding: 0;
}
ul#domains {
  list-style-type:none;
  padding: 0;
  margin: 2em 1em 0 0;
}
ul#mirrors li, ul#domains li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 4px 8px 4px 8px;
}
ul#mirrors li:active, ul#domains li:active,
ul#mirrors li:target, ul#domains li:target {
  background-color: grey;
  color: white;
}
ul#mirrors li#addMirror:hover, ul#domains li#addDomain:hover {
  background-color: grey;
  color: white;
}
div#domainCol {
  width: 30%;
  float: left;
}
div#mirrorCol {
  width: 70%;
  float: left;
}
#status {
  color: green;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  margin-left: 1em;
}
.issueDropDown {
  margin: 3em 0 5em 0;
}
.issueDropDown .dropDownMenu {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.issueDropDown:hover .dropDownMenu {
  display: inline;
}
.activeDomain {
  background-color: grey;
  color: white;
}
[draggable] {
    user-select: none;
}
#domainMirrorOptions {
  overflow:auto;
}
